:root {
    --primary-key: #0f1b4c;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    height: 2000px;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    padding: 18px 16px;
    background: var(--primary-key);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action .action-link {
    color: var(--primary-key);
    font-size: 14px;
    font-weight: 500;
    padding: 13px 8px;
}

.navbar .action .action-btn {
    padding: 13px 16px;
    margin-left: 9px;
    border-radius: 8px;
}

.hero {
    width: 51%;
    margin-top: 13rem;
    letter-spacing: 0.01em;
}

.info .subtitle {
    width: 25rem;
    height: 2.7rem;
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018rem;
    margin-bottom: 0.8rem;
}

.info .title {
    height: 15.2rem;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.18; /* 118.75% */
}

.info .info-content {
    width: 55rem;
    height: 6.4rem;
    color: #5a6473;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.info-more-btn {
    min-width: 17rem;
    margin-top: 4rem;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ======= Clients ======== */
.client {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row p {
    color: #7d8589;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.client .row p {
    margin-top: 2.3rem;
}

.client .brands {
    align-items: center;
    margin-top: 7rem;
}
/* ============ Guide  ============== */
.guide {
    margin-top: 40px;
    padding: 79px 0;
    min-width: (100vw - (378 * 2));
    margin-left: auto;
    margin-right: auto;
}

.guide-do .guide-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guide-do .guide-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    transform: translateX(-50%);
}

.guide .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

/* Selection */
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.selection .selection-container {
    text-align: center;
    margin: 0 70px;
}

.selection .selection-container .title {
    color: #3b3c45;
    width: 141px;
    font-size: 20px;
    margin-top: 26px;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.selection .selection-container .link {
    display: inline-block;
    color: #0689ff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 8px;
}

.selection .selection-container .arrow {
    margin-left: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.selection-container .clickme {
    width: 170px;
}

/* Feature */
.feature {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.feature header .sub-title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature .row {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 15px;
}

.feature .row desc {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.feature .row span {
    color: #0689ff;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}

.feature .row img {
    margin-left: 8px;
}

.feature .lists {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.feature .items {
    border-radius: 12px;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    background: #fff;
    flex: 1;
}

.feature .items .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature .items .body {
    padding: 17px 20px 24px;
}

.feature a {
    color: #000339;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.feature .desc {
    --line-clamp: 3;
    color: #a3a6ab;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 22px;
    word-break: break-all;
}

.feature .info {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.feature .info .icon {
    margin-left: 23px;
}

.feature .info .icon:first-child {
    margin-left: 0;
}

.feature .info .label {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.14px;
    margin-left: 8px;
}

/* ============ Stats  ============== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1017px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}

.stats .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.stats .stats-trend {
    top: 0;
    left: 0;
    position: absolute;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
    padding: 45px 22px 40px;
}

.stats .value {
    width: 159px;
    color: #000339;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: 0.26px;
    margin-right: 8px;
}

.stats .stats-trend .desc {
    width: 194px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-top: 8px;
    margin-bottom: 26px;
}

.stats .separate {
    height: 1px;
    background: #e9e9e9;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .avatar-group {
    display: flex;
}

.stats .ava-icon {
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
    width: 16.337px;
    height: 16.337px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.stats .qty-desc {
    color: #7b8087;
    font-size: 18px;
    font-weight: 500;
    margin-top: 22px;
}

.stats .row-qty {
    padding: 0 32px;
    margin-top: 110px;
    justify-content: space-between;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .info {
    width: 671px;
    padding: 0 80px;
    max-width: 100%;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.6; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    opacity: 0.75;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 251px;
}

/* Footer */
.footer {
    padding: 50px 0 58px;
    margin-top: 55px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
    margin-bottom: 81px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 42px;
}

.footer .lists a,
.footer .desc {
    display: inline-block;
    color: #7a7a7e;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
}

.footer .lists .items {
    white-space: nowrap;
}

.footer .column .desc {
    margin-bottom: 40px;
}

.footer .row-bot {
    justify-content: space-between;
}

.footer .row-bot .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
